/*===== GOOGLE FONTS =====*/
@font-face {
    font-family: century-gothic;
    src: url('/asset/font-family/Century\ Gothic.ttf');
}


html {
    scroll-behavior: smooth;
}

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;

    /*===== Colores =====*/
    --first-color: #070d1f;
    --dark-color: #070D1F;
    --dark-color-alt: #282B3A;
    --white-color: #E6E7E9;

    /*===== Fuente y tipografia =====*/
    --body-font: century-gothic;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*===== z index =====*/
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*===== BASE =====*/
*,
::before,
::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bd-grid {
    /* max-width: 1024px; */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


/*===== HEADER =====*/
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.5rem;
    background-color: #b7c9cd;
    z-index: var(--z-fixed);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo {
    color: var(--white-color);
}

.header__toggle {
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--dark-color);
        color: var(--white-color);
        width: 100%;
        height: 100vh;
        padding: 1.5rem 0;
        z-index: 9999;
        -webkit-transition: .5s;
        transition: .5s;
    }
}

.nav__content {
    height: 100%;
    -ms-grid-rows: max-content 1fr max-content;
    grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
    grid-template-rows: max-content 1fr max-content;
    row-gap: 2rem;
}

.nav__close {
    position: absolute;
    right: 1.5rem;
    font-size: 1.3rem;
    padding: .25rem;
    background-color: var(--dark-color-alt);
    border-radius: 50%;
    cursor: pointer;
}

.nav__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: .25rem;
    /* margin-bottom: .8rem; */
    width: 100%;
    height: 100%;
    /* background-color: var(--first-color); */
    /* border-radius: 50%; */
    overflow: hidden;
}

.nav__img img {
    width: 100px;
}

.nav__name {
    display: block;
    color: var(--white-color);
}

.nav__profesion {
    font-size: var(--small-font-size);
}

.nav__menu {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.nav__item {
    margin: 1.5rem 0;
    font-size: 20px;
}

.nav__link {
    color: #070d1f;
}

.nav__social {
    padding-top: .5rem;
}

.nav__social-icon {
    font-size: 1.2rem;
    color: var(--white-color);
    margin-right: 1rem;
}

.nav__social-icon:hover {
    color: var(--first-color);
}

/*Aparecer menu*/
.show {
    left: 0;
}

/*Active menu*/
.active {
    color: var(--first-color);
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .header {
        height: calc(var(--header-height) + 1rem);
    }

    .header__logo,
    .header__toggle {
        display: none;
    }

    .nav {
        width: 100%;
    }

    .nav__content {
        grid-template-columns: repeat(3, -webkit-max-content);
        grid-template-columns: repeat(3, max-content);
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -webkit-column-gap: 1rem;
        column-gap: 1rem;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: auto;
    }

    .nav__close,
    .nav__profesion {
        display: none;
    }

    .nav__perfil {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav__img {
        width: 100%;
        height: 100%;
        margin-right: .5rem;
        margin-bottom: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav__img img {
        width: 140px;
    }

    .nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .nav__item {
        margin: 0 .25rem;
    }

    .nav__link {
        padding: .5rem .8rem;
        border-radius: 0.25rem;
    }

    .nav__link:hover {
        background-color: var(--first-color);
    }

    .active {
        background-color: var(--first-color);
        color: var(--white-color);
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}


/* footer section style  */

.footer-section {
    background: #b7c9cd;
}

.footer-bottom ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-bottom ul {
    /* text-align: center; */
}

.footer-bottom .footer-social-link {
    text-align: right;
}

.footer-top .copyright-title {
    text-align: right;
    font-size: 20px;
}

.footer-bottom .footer-menu {
    text-align: left;
}

.footer-top .developed-title {
    text-align: left;
}

.footer-section .footer-bottom {
    padding: 10px 0;
    border-top: 1px solid #2c3244;
}

.footer-bottom ul li a i {
    font-size: 18px;
    padding: 6px;
    border: 2px solid #070d1f;
    border-radius: 10px 0;
    background: transparent;
    outline: none;
}

.footer-section .footer-top {
    padding: 10px 0;
}

.footer-top .developed-title span {
    color: #070d1f;
    font-size: 20px;
}

.footer-top .developed-title span a {
    color: #df585a;
    text-decoration: underline;
}

.footer-top .copyright-title span {
    color: #070d1f;
}

.footer-bottom ul li a {
    color: #070d1f;
    font-size: 20px;
}

.contact-us-section .contact-us-background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.contact-us-section .backgorund-img-overlay {
    background: #070d1fed;
    width: 100%;
    height: 100%;
    padding: 40px 0;
}

.contact-submit-form .form-group input {
    background: transparent;
    border-color: #444;
    font-size: 20px;
}

.contact-submit-form .form-group textarea {
    background: transparent;
    border-color: #444;
}

.contact-submit-form .btn {
    background: #070d1f;
    border: 0;
    padding: 8px 20px;
    cursor: pointer !important;
    color: #b7c9cd;
    font-size: 20px;
}

.contact-submit-form .btn i {
    font-size: 16px;
}

.contact-information-section .section-title h4 {
    color: #b7c9cd;
    font-size: 22px;
}

.address-information .section-contant p {
    color: #ddd;
    font-size: 20px;
}

.contact-information-section .media i {
    font-size: 38px;
    color: #b7c9cd;
    margin-right: 20px;
}

.contact-information-section .address-information {
    margin-bottom: 20px;
}

.contact-information-section .contact-information {
    margin-bottom: 20px;
}

.contact-information ul li a {
    color: #ddd;
    font-size: 20px;
}

.footer-bottom ul li:hover a i {
    background: #b7c9cd;
    color: #ef442e;
    border-color: #070d1f;
    transition: all .3s linear;
}

.contact-submit-form .form-group input:focus {
    box-shadow: 0 0 0 0.2rem rgb(90 166 182);
    border-color: #2cbbda;
}

.contact-submit-form .form-group textarea:focus {
    box-shadow: 0 0 0 0.2rem rgb(94 168 184);
    border-color: #34bcda;
}

.contact-information-section .section-title {
    text-align: left !important;
}

.contact-us-section .backgorund-img-overlay .section-title {
    text-align: center;
    margin-bottom: 20px;
    color: #b3d236;
}

.our-clinet-section .section-contant .our-client-slider img {
    border: 2px solid #5bb1c4;
    padding: 20px;
    width: 100%;
    height: 180px;
    filter: grayscale(100%);
}

.our-clinet-section .section-contant .our-client-slider img:hover {
    border: 2px solid #5bb1c4;
    padding: 20px;
    width: 100%;
    height: 180px;
    filter: grayscale(0);
    transition: all .3s linear;
}

.our-clinet-section .section-contant .our-client-slider .slick-slide {
    margin: 0 10px;
}

.our-clinet-section {
    background: #b7c9cd;
    padding: 40px 0;
}

.our-clinet-section .section-contant .our-client-slider {
    margin: 0;
}

.our-project-section {
    padding: 40px 0;
    background: #b7c9cd;
}

.our-project-section .project-item-box .project-contant {
    margin-top: 50px;
}

.project-item-box .project-overlay {
    /* margin-top: -80px; */
    border: 15px solid #00071c;
}

/* main slider section style */

.slideshow {
    position: relative;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slideshow .slider {
    width: 100%;
    height: 100%;
    z-index: 2;
    margin: 0;
}

.slideshow .slider * {
    outline: none;
}

.slideshow .slider .item {
    height: 95vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    border: none;
}

.slideshow .slider .item .text {
    display: none;
}

.slideshow .slider .item img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slideshow .slick-dots {
    position: absolute;
    z-index: 100;
    width: 40px;
    height: auto;
    bottom: auto;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: auto;
    color: #fff;
    display: block;
}

.slideshow .slick-dots li {
    display: block;
    width: 100%;
    height: auto;
}

.slideshow .slick-dots li button {
    position: relative;
    width: 20px;
    height: 15px;
    text-align: center;
}

.slideshow .slick-dots li button:before {
    content: "";
    background: #fff;
    color: #fff;
    height: 2px;
    width: 20px;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
}

.slideshow .slick-dots li.slick-active button:before {
    width: 40px;
    opacity: 1;
}

.slideshow.slideshow-right {
    left: 0;
    z-index: 1;
    width: 50vw;
    pointer-events: none;
}

.slideshow.slideshow-right .slider {
    left: 0;
    position: absolute;
}

.slideshow-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 30px;
    width: 100vw;
    text-align: center;
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 100;
    pointer-events: none;
    text-transform: uppercase;
    letter-spacing: 20px;
    line-height: 0.8;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4caf50;
    color: white;
}

.topnav-right {
    float: right;
}

@media (max-width: 767px) {
    .slideshow-text {
        font-size: 40px;
    }
}

.main-slider-section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.service-backgorund-images {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

.our-service-section .background-images-overlay {
    background: #070d1fed;
    padding: 40px 0;
}


/* about section style */


.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.large-container {
    position: static;
    max-width: 1580px;
    padding: 0px 30px;
    margin: 0 auto;
}

.testimonial-section {
    position: relative;
    /* padding-top: 80px; */
    /* padding-bottom: 210px; */
}

.testimonial-section:before {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(http://t.commonsupport.com/adro/images/icons/ring-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    content: "";
    -webkit-animation: fa-spin 25s infinite alternate;
    -moz-animation: fa-spin 25s infinite alternate;
    -ms-animation: fa-spin 25s infinite alternate;
    -o-animation: fa-spin 25s infinite alternate;
    animation: fa-spin 25s infinite alternate;
}

.testimonial-section .sec-title {
    position: relative;
    margin-bottom: 115px;
}

.testimonial-section .sec-title .title {
    margin-bottom: 20px;
}

.testimonial-section .testimonial-carousel {
    position: relative;
    max-width: 100%;
    /* margin: 0 -50px; */
}

.testimonial-block {
    position: relative;
    padding: 0;
}

.testimonial-block .inner-box {
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 0 50px rgb(67 74 98);
}

.testimonial-block .text {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 32px;
    color: #282331;
    font-weight: 400;
    margin-bottom: 50px;
    font-family: "Muli", sans-serif;
}

.testimonial-block .info-box {
    position: relative;
    padding-left: 115px;
    padding-top: 10px;
}

.testimonial-block .info-box .thumb {
    position: absolute;
    left: 0;
    top: 0;
    height: 82px;
    width: 82px;
}

.testimonial-block .info-box .thumb img {
    border: 6px solid #e5e6fa;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    width: 100%;
    box-shadow: 0 45px 45px rgba(147, 147, 147, 0.35);
}

.testimonial-block .info-box .name {
    position: relative;
    display: block;
    font-size: 21px;
    line-height: 1.2em;
    color: #382c4d;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: "Niramit", sans-serif;
}

.testimonial-block .info-box .designation {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #8053f7;
    font-weight: 400;
    font-family: "Muli", sans-serif;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    right: 75px;
    bottom: 70px;
}

.testimonial-carousel .owl-next,
.testimonial-carousel .owl-prev {
    position: relative;
    display: inline-block;
    height: 75px;
    width: 75px;
    line-height: 75px;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.testimonial-carousel .owl-next:hover,
.testimonial-carousel .owl-prev:hover {
    background-color: #b7c9cd;
    box-shadow: 0 24px 24px rgb(11 13 22);
}

.arrow-right,
.arrow-left {
    position: relative;
    display: inline-block;
    height: 9px;
    width: 43px;
    background-image: url(http://t.commonsupport.com/adro/images/icons/arrow-left-2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.arrow-right {
    background-image: url(http://t.commonsupport.com/adro/images/icons/arrow-right-2.png);
}

.testimonial-section .thumb-layer {
    position: absolute;
    right: 30px;
    top: 120px;
}

.testimonial-section .thumb-layer .image {
    position: relative;
    margin-right: 0;
}

.testimonial-section .thumb-layer .image img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.about-section {
    background: #b7c9cd;
    padding: 40px 0;
}

.section-title h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    color: #070d1f;
}

.service-section-contant .section-contant .card {
    background: transparent;
    border: 2px solid #1e2632;
}

.service-section-contant .section-contant .card i {
    font-size: 100px;
    display: block;
    margin: 0 auto;
    color: #ddd;
}

.service-section-contant .section-contant p {
    text-align: justify;
    color: #ddd;
    font-size: 20px;
}

.service-section-contant .section-contant h5 {
    color: #b7c9cd;
    font-size: 22px;
}

.service-section-contant .section-contant .card-body {
    padding: 10px 20px;
}

.about-left-side-contant p {
    color: #070d1f;
    letter-spacing: 0.5px;
    font-size: 20px;
}

.project-item-box .project-contant h4 {
    color: #070d1f;
}

.project-item-box .project-contant p {
    color: #070d1f;
    font-size: 20px;
    letter-spacing: .5px;
}

.service-section-contant .section-contant:hover {
    background: #b7c9cd;
    transition: all .3s linear;
    border-radius: 4px;
}

.service-section-contant .section-contant:hover h5 {
    color: #333;
    transition: all .3s linear;
}

.service-section-contant .section-contant:hover p {
    color: #333;
    transition: all .3s linear;
}

.service-section-contant a:hover {
    text-decoration: none;
}

.project-images .project-images-contant {
    position: absolute;
    left: 10%;
    top: 10%;
}

.project-item-box .project-images {
    position: relative;
}

.project-item-box .project-images-top {
    position: relative;
}

.project-item-box .project-images-top .project-images-contant {
    position: absolute;
    left: 10%;
    top: 10%;
}

.project-item-box .project-images-top .project-images-contant h3 {
    color: #fff;
}

.project-item-box .project-images-top .project-images-contant h3 span {
    color: #b7c9cd;
    font-size: 50px;
}

.project-images .project-images-contant h3 span {
    color: #b7c9cd;
    font-size: 50px;
}

.project-images .project-images-contant h3 {
    color: #fff;
}

.project-item-box .project-images-top:hover img {
    transform: scale(1.2);
}

.project-item-box .project-images-top img {
    width: 100%;
    transition: 0.5s all ease-in-out;
    overflow: hidden;
}

.project-item-box .project-images-top {
    width: 100%;
    overflow: hidden;
}

.project-item-box .project-images:hover img {
    transform: scale(1.2);
}

.project-item-box .project-images img {
    width: 100%;
    transition: 0.5s all ease-in-out;
    overflow: hidden;
}

.project-item-box .project-images .project-overlay {
    width: 100%;
    overflow: hidden;
}

.breadcrumb-backgorund-images {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* width: 100%; */
    /* height: 100%; */
    position: relative;
}

.breadcrumb-section .breadcrumb-section-overlay .breadcrumb {
    background: transparent;
}

.breadcrumb-backgorund-images:before {
    content: '';
    position: absolute;
    width: 50%;
    background: rgb(0 0 0 / 75%);
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.breadcrumb-section-overlay:after {
    content: '';
    position: absolute;
    width: 10%;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 284px;
    border-top-width: 0px;
    border-left: 200px solid rgb(2 2 2 / 74%);
    top: 0;
    left: 50%;
    z-index: 0;
}

.breadcrumb-section .breadcrumb-section-overlay {
    padding: 65px 0;
}

.breadcrumb-section .breadcrumb-section-overlay h2 {
    text-align: left;
    color: #fff;
    z-index: 99 !important;
}

.category-wise-project {
    background: #b7c9cd;
    padding: 40px 0;
}

.category-wise-project .project-location .project-location-contant {
    padding: 20px;
}

.category-wise-project .project-location .project-locaton-items {
    background: transparent;
    margin: 0px 10px;
    border: 2px solid #5798a6;
}

.category-wise-project .project-location .project-brand-color {
    /* background: #b7c9cd; */
}

.category-wise-project .project-location {
    padding-top: 30px;
}

.category-wise-project .project-location .project-location-contant h4 {
    color: #070d1f;
    border-bottom: 1px solid #5798a6;
    padding-bottom: 10px;
}

.category-wise-project .project-location .project-location-contant ul li {
    color: #070d1f;
    font-size: 20px;
}

/* video gallay section style */

.video-backgound-overlay {
    background: #070d1ff2;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.service-section-video .service-video-box {
    position: relative;
}

.video-play-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video-play-icon i {
    font-size: 100px;
}

.service-section-video .service-video-box img {
    height: 400px;
}

.video-play-icon i {
    font-size: 100px;
    color: #ddd;
}

.video-play-icon:hover i {
    font-size: 100px;
    color: rgb(183 201 205);
    transition: all .3s linear;
}

.service-section-video {
    margin-top: 40px;
}

.category-wise-project-items .project-contant p {
    color: #070d1f;
    font-size: 20px;
}

.category-wise-project-items .project-contant {
    padding: 5% 20px;
}

.category-wise-project-items .project-contant h4 {
    color: #070d1f;
}

.category-wise-project-items .project-brand-color {
    background: #b7c9cd;
    height: 100%;
}

.category-wise-project-items .project-brand-color h4 {
    color: #fff;
}

/* about details style */

.about-details-section {
    background: #b7c9cd;
    padding: 40px 0;
}

.company-achievements p {
    color: #070d1f;
    font-size: 20px;
}

.company-achievements ul li {
    color: #070d1f;
    margin: 8px 0;
    font-size: 20px;
}

.about-details-section .company-ambition {
    padding-top: 40px;
}

.about-details-section .company-ambition h5 {
    color: #070d1f;
    font-size: 22px;
}

.about-details-section .company-ambition p {
    color: #070d1f;
    font-size: 20px;
}

.project-details-section {
    background: #b7c9cd;
    padding: 40px 0;
}

.project-achievements h4 {
    color: #070d1f;
}

.project-achievements p {
    color: #ddd;
    text-align: justify;
}

.project-achievements ul li {
    color: #070d1f;
    font-size: 20px;
}

.project-details-section .project-ambition {
    padding-top: 40px;
}

.project-details-section .project-ambition .section-title p {
    color: #b7c9cd;
}

.project-details-section .project-ambition p {
    color: #070d1f;
    font-size: 20px;
}

.project-details-section .project-gallary {
    position: relative;
}

.project-details-section .slider.project-gallary-slider-nav {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    margin: 0;
    background: transparent;
}

.project-gallary-slider-nav .slick-slide.slick-current.slick-active>img {
    opacity: 1;
}

.project-gallary-slider-nav .slick-slide>img {
    opacity: .2;
}

/* blog page style */

.blog-sidebar-section ul li img {
    width: 100px;
}

.blog-section {
    background-color: #b7c9cd;
    padding: 40px 0;
}

.blog-reading-section h4 {
    text-align: center;
    color: #070d1f;
    margin-bottom: 10px;
}

.blog-reading-section .blog-publish-date p {
    color: #070d1f;
    text-align: center;
    font-size: 20px;
}

.blog-reading-section .section-contant .blog-img {
    text-align: center;
    margin-bottom: 20px;
}

.blog-reading-section .section-contant .blog-contant p {
    color: #070d1f;
    font-size: 20px;
}

.blog-information-section .more-btn {
    text-align: center;
}

.blog-information-section .blog-reading-section {
    padding-bottom: 40px;
}

.blog-information-section .more-btn .btn {
    font-size: 20px;
    border: 2px solid #5bb1c4;
    padding: 8px 15px;
    color: #070d1f;
}

.blog-information-box .blog-contant {
    padding-top: 20px;
}

.blog-information-box .blog-contant h5 {
    color: #070d1f;
    font-size: 22px;
}

.blog-information-box .blog-contant p {
    color: #070d1f;
    font-size: 20px;
}

.blog-information-list .blog-information-box {
    border: 2px solid #5bb1c4;
    padding: 10px;
    margin: 15px 0;
}

.blog-categoris .categories-list ul li {
    padding: 5px 0;
    border-bottom: 2px solid #5bb1c4;
    font-size: 20px;
}

.blog-categoris .categories-list ul li a {
    color: #070d1f;
}

.blog-sidebar-section .blog-list ul li {
    border-bottom: 2px solid #5bb1c4;
    padding: 5px 0;
    margin: 5px 0;
}

.blog-sidebar-section .blog-list ul li p {
    margin: 0;
}

.blog-tag-cloud .blog-tag-contant a {
    background: #1e2632;
    margin: 5px 5px;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    display: inline-block;
}

.blog-sidebar-section .blog-list ul li p {
    margin: 0;
    color: #070d1f;
    font-size: 20px;
}

.blog-sidebar-section .blog-list ul li h5 {
    color: #070d1f;
    font-size: 22px;
}

.blog-sidebar-section .section-title {
    text-align: center;
    margin: 20px 0;
}

.blog-information-list .blog-information-box a:hover {
    text-decoration: none;
}

.blog-sidebar-section .section-title h5 {
    padding: 8px 15px;
    display: inline-block;
    border: 2px solid #5bb1c4;
    margin: 0;
    color: #070d1f;
}

.blog-details-section {
    background: #b7c9cd;
    padding: 40px 0;
}

.section-contant .blog-contant .section-title h5 {
    color: #070d1f;
    border-bottom: 2px solid #1e2632;
    padding-bottom: 8px;
    font-size: 22px;
}

.related-blog-section .section-title h4 {
    color: #070d1f;
    border-bottom: 2px solid #5bb1c4;
    padding-bottom: 8px;
    margin-bottom: 15px;
}

/* brand section style */

.our-brands-section {
    background: #b7c9cd;
    padding: 40px 0;
}

.brands-items-box .brands-items img {
    width: 120px;
}

.brands-items-box .brands-items {
    padding: 10px;
    border: 2px solid #5bb1c4;
    margin: 15px 0;
}

.brands-items-box .brands-items.brand-left-side {
    text-align: right;
}

.brands-items-box .brands-items p {
    color: #070d1f;
    font-size: 20px;
}

.brands-items-box .brands-items .brands-title a {
    font-size: 22px;
    color: #070d1f;
}

.brands-items-box .brands-items .brands-itmes-title a {
    color: #070d1f;
    font-size: 22px;
}

.brands-items-box .brands-items p a.see-more {
    color: #fd0606;
}

a.see-more i {
    font-size: 11px;
}

a.see-more {
    color: #fd0606;
}

.brands-items-box .more-btn {
    text-align: center;
}

.brands-items-box .more-btn .btn {
    font-size: 20px;
    background: #070d1f;
    padding: 8px 15px;
    color: #fff;
}

.brands-items-box .more-btn {
    padding-top: 15px;
}

.pagination-section ul li .page-link {
    background: transparent;
    border-color: #5bb1c4;
    color: #070d1f;
}

.pagination-section ul .page-item.disabled .page-link {
    background: transparent;
    border-color: #5bb1c4;
}

.blog-sidebar-section .blog-list ul li a:hover {
    text-decoration: none;
}

.blog-reading-section .blog-publish-date p a {
    color: #070d1f;
}

.nav__menu ul li a:hover {
    color: #fff;
}

.breadcrumb-section .breadcrumb-section-overlay .breadcrumb li a {
    color: #fff;
    font-size: 20px;
}

.breadcrumb-section .breadcrumb-section-overlay .breadcrumb .breadcrumb-item.active {
    background: transparent;
    color: #ef442d;
    font-size: 20px;
}

.service-section-contant .section-contant:hover i {
    color: #ef442e;
}

.about-section-contant .section-title h5 {
    color: #b7c9cd;
}

.project-discription .section-title h4 {
    color: #070d1f;
    font-size: 25px;
}

.project-details-section .project-gallary img {
    width: 100%;
}

.category-wise-project-items .project-brand-color p {
    color: #070d1f;
}

.category-wise-project-items .project-brand-color h4 {
    color: #070d1f;
    font-size: 25px;
}

.testimonial-item-box .client-img img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.testimonial-sections {
    background: #b7c9cd;
    padding-bottom: 40px;
}

.testimonial-contant .client-information {
    text-align: right;
    color: #070d1f;
    padding-top: 10px;
    border-top: 2px solid #1e2632;
}

.testimonial-item-box .client-img {
    text-align: center;
    margin-bottom: 40px;
}

.testimonial-contant p {
    text-align: center;
    color: #070d1f;
    font-size: 20px;
}

.testimonial-contant .client-information p {
    text-align: right;
    margin: 0;
}

/* scroll btn top to bottom */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

.service-section-contant .service-slider-active {
    margin: 0;
}

.service-section-contant .service-slider-active .slick-slide {
    margin: 0 10px;
}

.category-wise-project .project-location a:hover {
    text-decoration: none;
}

.project-location-slider.slick-initialized.slick-slider {
    margin: 0;
}

.project-images:hover img {
    transform: scale(1.2);
}

.project-images img {
    width: 100%;
    transition: 0.5s all ease-in-out;
    overflow: hidden;
}

.project-images {
    overflow: hidden;
}

.service-backgorund-images .section-title h2 {
    color: #b7c9cd;
}

.contact-us-section .backgorund-img-overlay .section-title h2 {
    color: #b7c9cd;
}

/* slider images animation  */

.large-header {
    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

#large-header {
    background-image: url('../images/main-slider.jpg');
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.demo-1 .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
}

.main-title .thin {
    font-weight: 200;
}

@media only screen and (max-width : 768px) {
    .demo-1 .main-title {
        font-size: 3em;
    }
}